<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{fontName}} IconFont</title>
	<style>
		* {
			cursor: default;
		}

		body {
			font-family: sans-serif;
			margin: 0;
			padding: 10px 20px;
			background: white;
			text-align: center;
			color: #333;
		}

		table {
			display: table;
			font-size: 12px;
			border-collapse: separate;
			border-spacing: 4px;
			cursor: default;
			margin: auto;
		}

		td, th {
			border-radius: 3px;
			padding: 6px 12px;
			text-align: center;
		}

		td {
			background-color: #eee;
		}

		td.icon-name {
			font-weight: bold;
		}

		th {
			background-color: #bbb;
		}

		td:hover {
			background-color: #ccc;
		}

		span.red {
			font-weight: bold;
			color: #2f2daa;
		}

		span.blue {
			font-weight: bold;
			color: #516fcf;
		}

		span.orange {
			font-weight: bold;
			color: #c25b2c;
		}

		div {
			margin: 6px 0px;
		}

		.tag {
			padding: 4px 8px;
			border-radius: 2px;
		}

		.tag:hover {
			background-color: #bbb;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{fontName}}/{{fontName}}.css">
</head>
<body>
	<h1>{{fontName}}</h1>
	<section>
		<div>Fuente de íconos generada con <b>pols-fonts</b>.</div>
		<div>Para la instalación, copiar la carpeta <b>{{fontName}}</b> al proyecto web en desarrollo y hacer referencia al archivo <b>CSS</b> con la etiqueta:</div>
		<div>
			<span class="tag">
				<span class="red">&ltlink</span>
				<span class="blue">rel=</span><span class="orange">"stylesheet"</span>
				<span class="blue">type=</span><span class="orange">"text/css"</span>
				<span class="blue">href=</span><span class="orange">"{{pathNameLower}}/{{pathNameLower}}.css"</span>
				<span class="red">&gt</span>
			</span>
		</div>
	</section>
	<table>
		<thead>
			<tr>
				<th colspan="6">Ícono</th>
				<th colspan="2">Caracter</th>
				<th rowspan="2">Etiqueta<br>(Dos opciones)</th>
			</tr>
			<tr>
				<th>80px</th>
				<th>60px</th>
				<th>40px</th>
				<th>20px</th>
				<th>10px</th>
				<th>Nombre</th>
				<th>HTML</th>
				<th>CSS</th>
			</tr>
		</thead>
		<tbody>
			{{#each iconValues}}
			<tr>
				<td><i class="{{../baseSelector}} {{../classPrefix}}{{@key}}" style="font-size: 80px"></i></td>
				<td><i class="{{../baseSelector}} {{../classPrefix}}{{@key}}" style="font-size: 60px"></i></td>
				<td><i class="{{../baseSelector}} {{../classPrefix}}{{@key}}" style="font-size: 40px"></i></td>
				<td><i class="{{../baseSelector}} {{../classPrefix}}{{@key}}" style="font-size: 20px"></i></td>
				<td><i class="{{../baseSelector}} {{../classPrefix}}{{@key}}" style="font-size: 10px"></i></td>
				<td class="icon-name">{{@key}}</td>
				<td>{{this.html}}</td>
				<td>{{this.css}}</td>
				<td>
					<div class="tag"><span class="red">&lti</span>
						<span class="blue">class=</span><span class="orange">"{{../baseSelector}} {{../classPrefix}}{{@key}}"</span><span class="red">&gt&lt/i&gt</span></div>
					<div class="tag"><span class="red">&lti</span>
						<span class="blue">class=</span><span class="orange">"{{../baseSelector}}"</span><span class="red">&gt{{this.html}}&lt/i&gt</span></div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</body>
</html>
